@import "../../App.scss";

.intro {
  margin-top: 40px;
  text-align: center;
  padding: 0 10% 80px 10%;
  background: url("/assets/images/bg-tablet-pattern.svg") no-repeat top 320px
    right -140px;
  background-size: 300px 300px;
  overflow: visible;
  .intro__illustration {
    img {
      width: 80vw;
      max-width: 400px;
    }
  }
  .intro__description {
    p {
      padding: 10px 0 30px 0;
    }
  }
  @media (min-width: 768px) {
    @include flex(row-reverse, space-between);
    text-align: left;
    .intro__description {
      p {
        max-width: 340px;
      }
    }
  }
  @media (min-width: 768px) {
    background: none;
  }
  @media (min-width: 1024px) {
    .intro__illustration {
      img {
        max-width: 550px;
      }
    }
    .intro__description {
      h1 {
        font-size: 50px;
      }
    }
  }
}
