@import "../../App.scss";

footer {
  background-color: $veryDarkBlue;
  padding: 50px 10%;
  .footer__search {
    @include flex(row, space-between);
    gap: 10px;
    input {
      border: none;
      background-color: $veryLightGray;
      padding: 10px 20px;
      border-radius: 50px;
      width: clamp(100px, 90%, 400px);
    }
    button {
      box-shadow: none;
    }
  }
  .footer__links {
    @include flex(row, space-around);
    align-items: flex-start;
    margin-top: 60px;
    ul {
      li {
        padding-bottom: 15px;
        a {
          color: $veryLightGray;
          &:hover {
            color: $brightRed;
          }
        }
      }
    }
  }
  .footer__icons {
    .footer__icons__social {
      padding: 0;
      margin: 40px 0;
      ul {
        @include flex(row, space-between);
        max-width: 400px;
        margin: auto;
        gap: 0 20px;
        li {
          a {
            img {
              width: 28px;
              height: 28px;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
    .footer__icons__manage {
      text-align: center;
    }
  }
  .footer__copyright {
    margin-top: 40px;
    text-align: center;
  }
  @media (min-width: 900px) {
    @include flex(row, space-between);
    align-items: flex-start;
    padding: 30px 10%;
    .footer__search {
      @include flex(column, "");
      gap: 60px 0;
      div {
        &:first-of-type {
          @include flex(row, "");
          gap: 0 10px;
        }
        &:last-of-type {
          align-self: flex-start;
        }
      }
    }
    .footer__links {
      @include flex(row, space-evenly);
      width: 40vw;
      align-items: flex-start;
      margin-top: 0;
    }
    .footer__icons {
      @include flex(column-reverse, space-between);
      gap: 60px 0;
      align-items: flex-end;
      .footer__icons__social {
        margin: 0;
        ul {
          gap: 0 10px;
        }
      }
    }
  }
}
