@import "../../App.scss";

.testimonial {
  margin-top: 50px;
  text-align: center;
  padding: 0 10%;
  .testimonial__content {
    .testimonial__content__swiper {
      height: 360px;
      img {
        width: 80px;
        height: 80px;
        margin: 50px 0 20px 0;
      }
      p {
        padding: 20px 0 40px 0;
        max-width: 400px;
        margin: auto;
      }
    }
  }
  .testimonial__getStarted {
    button {
      margin: 40px 0;
    }
  }
  @media (min-width: 900px) {
    padding: 0;
    .testimonial__content {
      @include flex(row, space-between);
      gap: 0 30px;
    }
  }
}
