@import "../../App.scss";

.outro {
  @include flex(column, "");
  background: $brightRed url("/assets/images/bg-simplify-section-mobile.svg")
    no-repeat top 40px left;
  padding: 80px 10%;
  text-align: center;
  margin-top: 40px;
  gap: 30px 0;
  .outro__heading {
    h2 {
      color: $veryLightGray;
      max-width: 400px;
    }
  }
  .outro__getStarted {
    button {
      background-color: $veryLightGray;
      color: $brightRed;
    }
  }
  @media (min-width: 768px) {
    @include flex(row, space-between);
    text-align: left;
    padding: 50px 10%;
    background: $brightRed url("/assets/images/bg-simplify-section-desktop.svg")
      no-repeat top left;
  }
}
