@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

// colors
$brightRed: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);
$darkGrayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$veryPaleRed: hsl(13, 100%, 96%);
$veryLightGray: hsl(0, 0%, 98%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: $veryLightGray url("src/assets/images/bg-tablet-pattern.svg")
    no-repeat top -80px right -80px;
  background-size: 450px 450px;
  max-width: 1440px;
  margin: auto;
}

li {
  list-style: none;
  a {
    text-decoration: none;
    text-transform: capitalize;
    color: $darkBlue;
  }
}
h1,
h2,
h3 {
  color: $darkBlue;
}
h2 {
  font-size: 34px;
}
p {
  color: $darkGrayishBlue;
  font-size: 14px;
  line-height: 25px;
}

button {
  border: none;
  background: none;
  text-transform: capitalize;
  cursor: pointer;
  background-color: $brightRed;
  color: $veryLightGray;
  padding: 10px 20px;
  border-radius: 50px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
.swiper-pagination-bullet {
  background-color: $brightRed !important;
  @media (min-width: 900px) {
    display: none !important;
  }
}
@mixin flex($direction, $justify) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
  justify-content: $justify;
}
